<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />
    <connectionStrings>
        <!-- ConnectionString для подключения к Graphite-relay в формате "address=graphite-relay.com;port=8125;prefixKey=ulearn.local". Можно оставить пустой, чтобы не отправлять метрики -->
        <add name="statsd" connectionString="address=graphite-test;port=8125;transport=Tcp;prefixKey=ulearn.local"/>
    </connectionStrings>
	<appSettings>
		<add key="environmentName" value="" />
		<!-- Url to Ulearn.Web instance. I.E. https://ulearn.me -->
		<add key="submissionsUrl" value="https://localhost:44300/" />
		<!-- Must be equal on Ulearn.Web and RunJsJob instance -->
		<add key="runnerToken" value="F9388330-FF77-41B4-9011-1785F780C1CF" />
		<add key="sleepSeconds" value="1" />
		<add key="jobsToRequest" value="5" />
		<add key="ulearn.runjsjob.threadsCount" value="1" />
		<!-- By default agentName is computer name -->
		<add key="ulearn.runjsjob.agentName" value="" />
		<!-- Directory for building solutions. By default it's ./submissions in current directory -->
		<add key="ulearn.runjsjob.submissionsWorkingDirectory" value="" />
		<!-- Delete submissions after checking -->
		<add key="ulearn.runjsjob.deleteSubmissions" value="true" />		
	</appSettings>
</configuration>
