<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <root>
        <level value="DEBUG" />
        <appender-ref ref="FileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <!-- TODO fix this path for linux -->
        <file type="log4net.Util.PatternString" value="C:\\ulearn\\logs\\runjsjob\\%date{yyyy-MM-dd}.log" xdt:Transform="SetAttributes" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger — %message%newline" />
        </layout>
    </appender>
</log4net>
